/* =====  Color Encyclopedia ===== */
$blue: rgba(50, 65, 87, .98);
$light-blue: rgba(58, 113, 168, .98);
$red: rgba(192, 54, 57, .98);
$pink: rgba(230, 93, 110, .98);
$green: rgba(48, 176, 143, .98);
$tiffany: rgba(74, 183, 179, .98);
$yellow: rgba(254, 193, 113, .98);
$panGreen: rgba(48, 176, 143, .98);

@mixin colorBtn($color) {
  background: $color;
  &:hover {
    color: $color;
    &:before, &:after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue)
}

.light-blue-btn {
  @include colorBtn($light-blue)
}

.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}

.pan-btn {
  position: relative;
  display: block;
  width: 90%;
  padding: 14px 0;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  &:hover {
    background: #fff;
    &:before, &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }
  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}

.custom-theme-blackhole{
  .pan-btn {
    color: #fff;
    &:hover {
      background: #fff;
    }
  }
  .custom-button{
    background: #fff;
    color: #fff;
  }
}