
$icon-fs:48px;
$icon-fs-gap:20px;
$clr_primary: rgba(32, 160, 255, 0.98);

.app-main .win {
  /* - Upload picture module - */
  .avatar-uploader{
    .el-upload {
      position: relative;
      overflow: hidden;
      width: 75%;
      height: 75%;
      border: 2px dotted rgb(191, 203, 217);
      box-sizing: border-box;
      border-radius: 6px;
      cursor: pointer;
      &:hover {
        border-color: $clr_primary;
      }
    }
  }
  /*icon*/
  .avatar-uploader-icon {
    font-size: $icon-fs;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: $icon-fs-gap 0;
  }
  /*img*/
  .avatar {
    display: block;
    width: 100%;
    height: 100%;
  }
}






