@import "../public.scss";

//---- 删选模块基本高度 ----
$filterH: 36px;

//右侧内容模块整体（固定不变，占位）
.app-main {
  .win {
    /*-------- 下拉菜单模块 --------*/
    .el-dropdown { cursor: pointer; }
    //tab  当前选中项字体颜色
    .el-tabs .el-tabs__item.is-active {
      color: $clr_primary;
    }
    //窗口标题
    .win-tit {
      @include tit-base-style(20px, 5px, $clr_primary);
      text-align: left;
      span {
        &.unread {
          font-size: 16px;
          padding-left: 20px;
          i {
            color: rgba(255, 73, 73, 0.98);
            padding: 0 4px;
            cursor: pointer;
          }
        }
        font-size: 18px
      }
    }
    //窗口提交按钮模块
    .win-submit {
      width: 100%;
      text-align: center;
      padding: 10px 0 ;
    }
    //搜索显示栏目模块
    .searchTit {
      padding-bottom: 10px;
      /* back button */
      button {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 20px;
        margin-top: -4px;
      }
      h5 {
        display: inline-block;
        font-size: 16px;
        color: rgba(32, 160, 255, 0.98);
        span {
          display: inline-block;
          padding-left: 10px;
          font-size: 15px;
          /*color: rgba(255, 255, 255, 0.98);*/
        }
      }
    }
    /*-------- 删选列表数据模块 --------*/
    .handle-container {
      padding: 5px 0;
    }
    .filter-container {
      padding: 5px 0;
      .el-row {
        height: inherit;
        .el-col {
          height: inherit;
        }
      }
      .filter-item-btn {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: $filterH;
        margin: 5px 0;
      }
      .filter-item {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: $filterH;
        line-height: $filterH;
        padding: 5px 0;
        .el-input__inner {
          width: 100% !important;
        }
        .el-input {
          height: $filterH;
        }
        .el-input__icon {
          height: $filterH;
        }
      }
      h5.filter-item {
        font-size: 20px;
        color: $clr_primary;
      }
      span.filter-item {
        font-size: 14px;
        color: $clr_primary;
      }
      //删选模块若是有表单模块的情况
      .el-form {
        display: inline-block;
        padding-right: 10px;
        .el-form-item {
          margin-bottom: 0;
          .el-form-item__label {
            display: inline-block;
            padding: 0;
            font-size: 14px;
            color: $clr_primary;
          }
        }
      }
    }
  }
}











//win 内边距
$win_pt: 30px;
$win_pb: 30px;
$win_pl: 40px;
$win_pr: 30px;
//---- 中间内容主体部分 左右内边距  ----
$wm_pr: 20px;
$wm_pl: 20px;
//====================== 需要修改 ！！！！=======================================
//转换内容窗口 放大预览模块
.app-main .win .preview {
  position: absolute;
  width: calc(100% - (#{$win_pl} + #{$win_pr}));
  height: auto;
  padding-bottom: $wm_pl + $wm_pl;
}

//右侧内容区域按钮
.app-main .win .wBtn {
  margin-bottom: 30px;
}

.mbody .wBtn a {
  height: 37px;
  margin-right: 10px;
  display: inline-block;
}

/* ============ Card Modular - bottom Title ============ */
.el-card .el-card__body p.card_bTit {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 5px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//=============================================================



























